.containerHeight {
  height: 100vh;
}

.containerH {
  height: calc(100vh - 10px);
}

.headText h1 {
  font-size: 55px;
  font-weight: 900;
  color: #061240;
  line-height: 67px;
}

.headText p {
  font-size: 17px;
  color: #061240;
}
.becomeBtn {
  background: #010a3a;
  color: #ffffff;

  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.leftArrow {
  background: #cdf2f4;
  border-radius: 0px 0px 0px 10px;
}

.rightArrow {
  background: #cdf2f4;
  border-radius: 0px 10px 0px 0px;
}

.videoPlay {
  border-radius: 0px 0px 0px 95px;
  width: 100%;
  height: 90%;
}

@media screen and (max-width: 600px) {
  .headText h1 {
    font-size: 29px;
    font-weight: 900;

    line-height: 35px;
  }
  .headText p {
    font-size: 13px;
  }
  .videoPlay {
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .videoPlay {
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }
}
