.aboutBg {
  background: url("../../../assets/Experience banner.png");
  background-repeat: no-repeat;
  background-size: cover;

  height: 70vh;
}

.aboutH {
  height: calc(70vh - 10px);
}

.aboutBg h1 {
  font-size: 81px;
  color: #ffffff;
  font-weight: 700;
}

.aboutBg h4 {
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
}

.aboutBg p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .aboutBg h1 {
    font-size: 27px;

    font-weight: 700;
  }
}
